@model HospitalDomain.Model.Patient

@{
    ViewData["Title"] = "Редагування пацієнта";
}

<h1>Редагування</h1>

<h4>Пацієнт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contacts" class="control-label"></label>
                <input asp-for="Contacts" class="form-control" />
                <span asp-validation-for="Contacts" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Зберегти</button>
                <a asp-action="Index" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
