@model HospitalDomain.Model.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details Room</h1>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <td>@Html.DisplayFor(model => model.Type)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Capacity)</th>
            <td>@Html.DisplayFor(model => model.Capacity)</td>
        </tr>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
